In [7]:
import mysql.connector
from mysql.connector.constants import ClientFlag
import pandas as pd

In [2]:
import config

# now we establish our connection
cnxn = mysql.connector.connect(**config.DATABASE_CONFIG)
cursor = cnxn.cursor(prepared=True)

In [19]:
# now we establish our connection
query = ("""SELECT welfare_id, title, summary from welfare""") #table name 바꾸는 거 기억하기 #error 나는 이유가 tuple이 아니라 numpy.record이기 때문
cursor.execute(query)

In [20]:
welfare_for_embedding = pd.DataFrame(columns=['welfare_id', 'title', 'summary'])
for row in cursor:
    pd_row = pd.DataFrame([row], columns=['welfare_id', 'title', 'summary'] )
    welfare_for_embedding = welfare_for_embedding.append(pd_row, ignore_index=True)

In [22]:
welfare_for_embedding.head()

,welfare_id,title,summary
0,0,청소년한부모 자립지원,청소년 한부모가 자녀를 양육하고 자립할 수 있도록 지원합니다.
1,1,긴급복지 생계지원,갑작스럽게 생계곤란 등 위기상황에 처하여 도움이 필요한 사람을 신속하게 지원하여 위...
2,2,교육복지 우선지원사업,취약계층 학생이 밀집한 학교를 선정하여 집중 지원함으로써 교육·문화·복지 수준을 높...
3,3,방과후 보육료 지원,어린이집을 이용하는 취학아동의 방과후 보육료를 지원하여 양육의 부담을 줄이고 원활한...
4,4,취약계층 환경성질환 예방사업,"실내환경 진단 및 컨설팅, 실내환경 개선, 환경성질환자(소아·청소년·어르신) 진료지..."

In [23]:
welfare_for_embedding['full'] = welfare_for_embedding.title+' '+welfare_for_embedding.summary

In [24]:
welfare_for_embedding.head()

,welfare_id,title,summary,full
0,0,청소년한부모 자립지원,청소년 한부모가 자녀를 양육하고 자립할 수 있도록 지원합니다.,청소년한부모 자립지원 청소년 한부모가 자녀를 양육하고 자립할 수 있도록 지원합니다.
1,1,긴급복지 생계지원,갑작스럽게 생계곤란 등 위기상황에 처하여 도움이 필요한 사람을 신속하게 지원하여 위...,긴급복지 생계지원 갑작스럽게 생계곤란 등 위기상황에 처하여 도움이 필요한 사람을 신...
2,2,교육복지 우선지원사업,취약계층 학생이 밀집한 학교를 선정하여 집중 지원함으로써 교육·문화·복지 수준을 높...,교육복지 우선지원사업 취약계층 학생이 밀집한 학교를 선정하여 집중 지원함으로써 교육...
3,3,방과후 보육료 지원,어린이집을 이용하는 취학아동의 방과후 보육료를 지원하여 양육의 부담을 줄이고 원활한...,방과후 보육료 지원 어린이집을 이용하는 취학아동의 방과후 보육료를 지원하여 양육의 ...
4,4,취약계층 환경성질환 예방사업,"실내환경 진단 및 컨설팅, 실내환경 개선, 환경성질환자(소아·청소년·어르신) 진료지...","취약계층 환경성질환 예방사업 실내환경 진단 및 컨설팅, 실내환경 개선, 환경성질환자..."

In [25]:
welfare_for_embedding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   welfare_id  407 non-null    object
 1   title       407 non-null    object
 2   summary     407 non-null    object
 3   full        407 non-null    object
dtypes: object(4)
memory usage: 12.8+ KB

In [27]:
welfare_for_embedding.to_csv('welfare_for_embedding.csv', index=False,  encoding="utf-8-sig")