In [1]:
# 라이브러리 불러오기
import os
import pandas as pd
import numpy as np
from numpy import nan

In [2]:
csv_df = pd.read_csv('민간.csv', engine='python',encoding='utf-8-sig')

In [3]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       53 non-null     object
 1   summary     28 non-null     object
 2   who         53 non-null     object
 3   what        53 non-null     object
 4   category    51 non-null     object
 5   start_date  53 non-null     object
 6   end_date    53 non-null     object
dtypes: object(7)
memory usage: 3.0+ KB

In [4]:
csv_df.isna().sum()

title          0
summary       25
who            0
what           0
category       2
start_date     0
end_date       0
dtype: int64

In [5]:
# summary가 nan인 부분은 "해당없음"으로 만들기
csv_df = csv_df.fillna('해당없음')
# 카테고리가 nan인 부분은 행 전체 없애기
csv_df = csv_df[csv_df.category!="해당없음"]

In [6]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 52
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       51 non-null     object
 1   summary     51 non-null     object
 2   who         51 non-null     object
 3   what        51 non-null     object
 4   category    51 non-null     object
 5   start_date  51 non-null     object
 6   end_date    51 non-null     object
dtypes: object(7)
memory usage: 3.2+ KB

In [7]:
csv_df.head()

,title,summary,who,what,category,start_date,end_date
0,2021년 피해학대아동 심리치료 지원 (~8/20까지),플랜코리아에서는 사회복지공동모금회의 지원으로 현대로템과 함께 피학대아동들을 위해 심...,지원대상 : 피학대아동 중 심리치료비가 필요한 아동\n1. 기본조건\n1) 만 18...,지원내용 : 아동 1인당 총 120만원 심리치료비 지원(종합검사 필요 시 종합심리검...,",9,11",2021-09-01,2022-08-31
1,복지용구 및 노인체험,"1.다양한 복지용구 체험 기회 마련, 대상자별 맞춤 제공으로 복지용구 및 노인에 대...","부산 지역주민 누구나(참여비 무료, 최소 5명이상)","◆복지용구 체험\n- 복지용구 안내, 상담\n- 운영사업 내용안내\n- 노인장기요양...",",4",2021-07-28,2022-07-28
2,24시간 장애인 도움콜☎,장애인 및 장애인 가족에게 도움이 필요한 순간 '위기대응전문사회복지요원'이 출동하여...,서울에 거주하는 위기상황에 처한 장애인 및 장애인 가족,"주 보호자의 부재로 인한 돌봄 공백, 병원 동행 지원, 이동 동행 지원 등 장애인 ...",",11,8",2021-01-01,2021-12-31
3,장기요양서비스 (방문요양.차량방문목욕),만 65세 이상의 노인 및 노인성질환으로 도움이 필요한 분 등을 대상으로 장기요양서...,노인장기요양인정을 받은 만 65세 이상의 거동이 불편한 노인 및 노인성질환으로 힘든 성인,노인장기요양서비스 재가방문요양. 차량방문목욕\n\n-방문요양\n1. 신체활동지원 \...,",3,4",2021-01-01,2021-12-31
4,다솜이 드림메이커스 (IT 교육지원 프로그램),본 사업은 생명보험사회공헌재단과 교보생명이 후원하고 재단법인 홍합밸리가 운영하는 사...,"- 서울, 경기지역 거주자 중 아래에 해당하는 자\n \n 1) 드론 : 사회적배...",- 자격증 취득을 위한 교육비 및 시험비\n \n 1) 드론 : 초경량비행장치 무...,",9,8,6",2021-01-01,2021-12-31

## DB welfare 데이터 전처리

In [8]:
# def preprocess_category(df):
#     return df.category.split(',')[1]

In [9]:
# csv_df.category = csv_df.apply(preprocess_category, axis=1)

In [10]:
csv_df['url'] = 'https://www.bokjiro.go.kr/ssis-teu/index.do'
csv_welfare_df = csv_df.drop(['category'], axis=1)

In [11]:
csv_welfare_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 52
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       51 non-null     object
 1   summary     51 non-null     object
 2   who         51 non-null     object
 3   what        51 non-null     object
 4   start_date  51 non-null     object
 5   end_date    51 non-null     object
 6   url         51 non-null     object
dtypes: object(7)
memory usage: 3.2+ KB

## DB category 데이터 전처리

In [12]:
# db primary key인 welfare_id에 맞는 index key 만들기
index_keys = list(range(356, 407))
csv_df['index_keys'] = index_keys

In [13]:
csv_category_df = csv_df[['index_keys', 'category']]

In [14]:
def preprocess_category(df):
    row_split = df['category'].split(',')
    row_split = [item for item in row_split if item != '' and item != ',']
    return row_split

In [15]:
csv_category_df['category'] = csv_category_df.apply(preprocess_category, axis=1)

/var/folders/rv/0x088r054p1fqttypsfr1jk00000gn/T/ipykernel_2709/564217557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_category_df['category'] = csv_category_df.apply(preprocess_category, axis=1)

In [16]:
csv_category_df.head()

   index_keys   category
0         356    [9, 11]
1         357        [4]
2         358    [11, 8]
3         359     [3, 4]
4         360  [9, 8, 6]

In [17]:
new_category_df = pd.DataFrame(columns = ['welfare_id', 'category_id'])

In [18]:
for index, row in csv_category_df.iterrows():
    categories = row.category;
    for category in categories:
        new_df = pd.DataFrame([(row.index_keys, category)], columns=['welfare_id','category_id'])
        new_category_df = new_category_df.append(new_df, ignore_index=True)

In [19]:
new_category_df.head()

  welfare_id category_id
0        356           9
1        356          11
2        357           4
3        358          11
4        358           8

In [20]:
new_category_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   welfare_id   89 non-null     object
 1   category_id  89 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [21]:
# sql db에 올리기
import mysql.connector
from mysql.connector.constants import ClientFlag

In [22]:
import config

# now we establish our connection
cnxn = mysql.connector.connect(**config.DATABASE_CONFIG)
cursor = cnxn.cursor(prepared=True)

In [22]:
import copy
result_final=copy.deepcopy(csv_welfare_df) 
# welfare table commit
query = ("""INSERT INTO welfare (title, summary, who,what,start_date, end_date, url) VALUES (%s, %s, %s, %s, %s, %s, %s)""") #table name 바꾸는 거 기억하기
input_data=[tuple(x) for x in result_final.to_records(index=False)]
cursor.executemany(query, input_data) #error 나는 이유가 tuple이 아니라 numpy.record이기 때문

cnxn.commit()  # and commit changes
cnxn.close()

In [23]:
import copy
result_category_final=copy.deepcopy(new_category_df) 
# welfare table commit
query = ("""INSERT INTO welfare_category (welfare_id, category_id) VALUES (%s, %s)""") #table name 바꾸는 거 기억하기
input_data=[tuple(x) for x in result_category_final.to_records(index=False)]
cursor.executemany(query, input_data) #error 나는 이유가 tuple이 아니라 numpy.record이기 때문

cnxn.commit()  # and commit changes
cnxn.close()